<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/styles.css" rel="stylesheet">
    <link href="styles/resultaat.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;900&display=swap" rel="stylesheet">
    <title>Mijn filter</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/resultaat">zoekresultaten</a></li>
                <li><a href="/filter">filter</a></li>
            </ul>
        </nav>
        <header>
           <h1>Resultaat</h1> 
        </header>
        <section>
            <article>
                <h2><%= dog.femaleRandom() %></h2>
                
                <h3>5 jaar</h3>
                <p>#energiek #speels #knuffelhond</p>
                <img src="images/honden/Floor.png" alt="floor">
            </article>
            <article>
                <h2>Maxi</h2>
                <h3>14 jaar</h3>
                <p>#Lief #rustig #knuffelhond</p>
                <img src="images/honden/Maxi.png" alt="maxi">
            </article>
            <article>
                <h2>Millou</h2>
                <h3>8 jaar</h3>
                <p>#Lief #speels #ballenlover #stoeihond</p>
                <img src="images/honden/Millou.png" alt="millou">
            </article>
            <article>
                <h2>Floor de Cursed</h2>
                <h3>5</h3>
                <p>#Lief #rustig #knuffelhond #ogen</p>
                <img src="images/honden/cursed floor.png" alt="cursed floor">
            </article>
        </section>
</body>
</html>
